h1,h2 {
  float: left;
  color: #E80F0F;
  font-size: 25px;
  line-height: 30px;
 

}
p{
 font-style: 30


}
background-image: url("https://www.google.ca/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjtrJb4oNndAhXF24MKHWpXDmIQjRx6BAgBEAU&url=http%3A%2F%2Falexedmans.com%2Fshould-sports-policy-chase-gold-medals-or-goal-posts%2F&psig=AOvVaw0xO93mzSQCc_GFKaOljNJb&ust=1538071488845063");
background-color:#000000 ;
